<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>BookAddController</servlet-name>
        <servlet-class>hautt.controllers.BookAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookDeleteController</servlet-name>
        <servlet-class>hautt.controllers.BookDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookImageUploadController</servlet-name>
        <servlet-class>hautt.controllers.BookImageUploadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookSearchAllController</servlet-name>
        <servlet-class>hautt.controllers.BookSearchAllController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookSearchController</servlet-name>
        <servlet-class>hautt.controllers.BookSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookUpdateController</servlet-name>
        <servlet-class>hautt.controllers.BookUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookUpdatePageController</servlet-name>
        <servlet-class>hautt.controllers.BookUpdatePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>hautt.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>hautt.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>hautt.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdateController</servlet-name>
        <servlet-class>hautt.controllers.UserUpdateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookAddController</servlet-name>
        <url-pattern>/BookAddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDeleteController</servlet-name>
        <url-pattern>/BookDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookImageUploadController</servlet-name>
        <url-pattern>/BookImageUploadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookSearchAllController</servlet-name>
        <url-pattern>/BookSearchAllController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookSearchController</servlet-name>
        <url-pattern>/BookSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookUpdateController</servlet-name>
        <url-pattern>/BookUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookUpdatePageController</servlet-name>
        <url-pattern>/BookUpdatePageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdateController</servlet-name>
        <url-pattern>/UserUpdateController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>FPT with love connection</description>
        <res-ref-name>DBCon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
